Laboratorio/tp01
Laboratorio/tp02
Laboratorio/tp03
Laboratorio/Clase03/taller.ipynb
Laboratorio/Clase03/.ipynb_checkpoints
Laboratorio/Clase05/notebook.ipynb
Laboratorio/Clase06/taller.ipynb
Laboratorio/Clase07/taller.ipynb
.idea
__pycache__
.ipynb_checkpoints
